:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

.material-symbols-outlined {
    margin: 0px 10px 0px 0px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #dedede;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
}

body {
    background-color: #ffffff;
    margin: 0px auto;
    width: calc(100% - 40px);
    height: fit-content;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    padding: 20px 0px;
}

header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

header p {
    margin: 0px 0px 0px 20px;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: 600;
}

#container {
    margin: 0px auto 0px;
    width: 100%;
    max-width: 900px;
    height: fit-content;
}

#label_button {
    display: flex;
    align-items: center;
    justify-items: start;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #26284e;
    color: #fff;
}

#image_canvas {
    margin: 20px 0px 20px 0px;
    padding: 5px;
    width: calc(100% - 14px);
    height: auto;
    max-height: 300px;
    border-radius: 5px;
    object-fit: cover;
    background-color: transparent;
    border: 1.5px dotted #ababab;
}

#container div {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

#format_select {
    margin: 0px 0px 0px 10px;
    padding: 13px 15px;
    width: fit-content;
    height: fit-content;
    border: 1px solid #ababab;
    outline: none;
    font-weight: 400;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#download_button {
    display: flex;
    align-items: center;
    justify-items: start;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #294e26;
    color: #fff;
}

footer {
    margin: 30px auto;
    padding: 0px;
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: #ababab;
}

footer a {
    text-decoration: none;
    color: #4d4891;
}