:root {
    --background: #ffffff;
    --text-primary: #010101;
    --text-secondary: #5d5d5d;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
    margin: 0px 8px 0px 8px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' -25,
        'opsz' 24
}

h1,
h2,
h3,
h4,
h5 {
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
}

p {
    margin: 8px 0px;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
}

button {
    padding: 4px 4px 4px 12px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

body {
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    width: calc(100% - 40px);
    max-width: calc(940px - 40px);
    background-color: var(--background);
}

header {
    margin: 0px auto;
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
}

header nav {
    width: calc(100%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav div {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

header nav div img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

header nav div h1 {
    margin: 0px 0px 0px 20px;
}

#con01 {
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
}

#con02 {
    padding: 20px 20px;
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    justify-content: space-between;
    border: 1px dashed var(--text-primary);
}

#con02 label {
    padding: 10px 20px 10px 12px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4e478c;
    color: var(--background);
}

#con02 canvas {
    margin: 10px 0px 0px 0px;
    padding: 5px;
    width: calc(100% - 10px);
    max-width: 300px;
    height: auto;
    max-height: 160px;
    border-radius: 5px;
    object-fit: cover;
    background-color: #e6e6e6;
}

#con03 {
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
}

#con03 p {
    margin: 0px auto 0px 0px;
}

#con03 button {
    padding: 10px 15px 10px 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--background);
    background-color: #568c47;
}

#se-co {
    margin: 0px 20px 0px 0px;
    border: 1px solid black;
    border-radius: 5px;
}

#format_select {
    padding: 13px 15px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-right: 10px solid #f0f0f0;
    outline: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#con04 {
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
}


footer {
    padding: 20px 0px;
    width: calc(100%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    cursor: pointer;
}

#container {
    margin: 0px auto 0px;
    width: 100%;
    max-width: 900px;
    height: fit-content;
}

#label_button {
    display: flex;
    align-items: center;
    justify-items: start;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #26284e;
    color: #fff;
}



#container div {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}




/* footer {
    margin: 30px auto;
    padding: 0px;
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: #ababab;
} */

/* footer a {
    text-decoration: none;
    color: #4d4891;
} */